/* STYLE SECTIONING TAGS */
*{
  margin: 0%;
  padding:0;
}
title {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  

}
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  text-align: center;
  background-color: powderblue;
  color: darkblue;
  
}

p{
  padding-top:2%;
}
main{
  text-align:center;
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  color: darkblue;
  text-align:center;
  background-color: whitesmoke;
  padding: 2%;
}

h2 {
  margin-top: 2em; 
  text-align: center;
  background-color: whitesmoke;
  padding: 2%;
 
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
  /* justify-content: center; */
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* STYLE IMAGES */
.answer-choice img {
  max-height: 10em;
  
 border-color: 10px strong darkblue;
 padding: 2%;
 border-radius: 50%;

}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  background-color: rgb(60, 127, 214);
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 6%;
  padding-right: 6%;
  color: white;
  
}
#restart{
  padding-bottom: 2%;
  padding-top: 2%;
  
}
